@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <!-- give count of all access logs and last visit -->
    <p>There have been @ViewData["AccessLogCount"] page visits. The last visit was @ViewData["LastVisit"]</p>
</div>
